# Python Data Structures - 1

This file consists of the 2 python data structures which are Lists, Sets. It consists of the methods and operations that can be performed on these data structures.

# 1. Lists

A data structure in python that is mutable, or changeable, ordered sequence of elements. Collection of different items. Defined by having values between square brackets[ ].

In [1]:
lst_example=[]
print(type(lst_example))

<class 'list'>

In [3]:
lst=list()
print(type(lst))

<class 'list'>

In [6]:
lst=['Science', 'Maths', 12, True]
print(type(lst))
print(len(lst))

<class 'list'>
4

### Append in Lists

In [7]:
# The append() method appends/adds an element to the end of the list.
lst.append('Prakhar')
lst

['Science', 'Maths', 12, True, 'Prakhar']

### Insert in Lists

In [9]:
# The insert() method inserts the specified value at the specified position.
# list.insert(position, element)
lst.insert(2, 90)
lst

['Science', 'Maths', 90, 12, True, 'Prakhar']

In [12]:
lst.insert(0, 'Bonjour')
# added 3 times

['Bonjour', 'Bonjour', 'Bonjour', 'Science', 'Maths', 90, 12, True, 'Prakhar']

In [13]:
lst

['Bonjour', 'Bonjour', 'Bonjour', 'Science', 'Maths', 90, 12, True, 'Prakhar']

### Pop in Lists

In [16]:
# The pop() method removes the element at the specified position.
lst.pop(0)

'Bonjour'

In [17]:
lst

['Bonjour', 'Science', 'Maths', 90, 12, True, 'Prakhar']

In [18]:
# remove() - Removes the first item with the specified value
lst.remove(90)

In [19]:
lst

['Bonjour', 'Science', 'Maths', 12, True, 'Prakhar']

### Reverse Lists

In [20]:
lst.reverse()

In [21]:
lst

['Prakhar', True, 12, 'Maths', 'Science', 'Bonjour']

### Copy Lists

In [24]:
fruits = ['Apple', 'Banana', 'Mango', 'Strawberry']
y = fruits.copy()
y

['Apple', 'Banana', 'Mango', 'Strawberry']

### Sort Lists

In [29]:
cars = ['BMW', 'Audi', 'Land Rover', 'Lamborghini']
cars.sort()
cars

['Audi', 'BMW', 'Lamborghini', 'Land Rover']

### Extend Method

In [31]:
lst

['Prakhar', True, 12, 'Maths', 'Science', 'Bonjour']

In [32]:
lst.extend([8,10])
lst

['Prakhar', True, 12, 'Maths', 'Science', 'Bonjour', 8, 10]

### Sum(list)

In [36]:
# sum - finds the sum of elements of list
# sum(list_name, start_val)
p = [1,2,3,10,9,89,11]
print(sum(p))

p1 = p.copy()
print(sum(p1, 10))

125
135

### Count

In [39]:
# count(list) - calculates total occurrences of given input element in lists
l1 = [1,4,5,8,4,9,10,1]
print(l1.count(4))

2

In [42]:
print(lst*2)

['Prakhar', True, 12, 'Maths', 'Science', 'Bonjour', 8, 10, 'Prakhar', True, 12, 'Maths', 'Science', 'Bonjour', 8, 10]

--------------------

# 2. Sets

An unordered collection data type that is iterable, not mutable (unchangeable), and has no duplicate elements. Python's set class represents the mathematical notation of a set. This is based on a data structure called hash table. Elements are stored inside curly brackets { }.

Set items are unchangeable, but you can remove items and add new items.
Set items cannot be referenced by any index or key.
Once a set is created, you cannot change its items, but you can remove items and add new items.

Sets cannot have two items with the same value.
A set can contain different data types.

Since, we can't access items in a set through any index or key, so, we use use FOR Loop or IN Keyword.

We can also join two sets through union and can perform intersection on sets too.

In [43]:
# Defining an empty set

set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [44]:
set_var = {"Jack", "Daniel", "Tom", "Banks"}
print(set_var)
print(type(set_var))

{'Daniel', 'Jack', 'Banks', 'Tom'}
<class 'set'>

In [45]:
print(len(set_var))

4

### Set() Constructor

In [51]:
# set() - It is also possible to use the set() constructor to make a set.

set_ex=set(("apple", "mango", "pear", "banana"))
set1=set()
print(set_ex)

{'mango', 'pear', 'apple', 'banana'}

In [47]:
for item in set_ex:
    print(item)

mango
pear
apple
banana

### 'IN' Keyword

In [50]:
# return boolean value i.e either true or false
print("mango" in set_ex)

True

In [49]:
print("strawberry" in set_ex)

False

### add() method

In [53]:
# add() - To add one item to a set use the add() method.
n = 5
i=10
while len(set1)!=n:
    set1.add(i)
    i+=1
    
print(set1)

{10, 11, 12, 13, 14}

In [54]:
set_ex.add("kiwi")
print(set_ex)

{'apple', 'mango', 'banana', 'pear', 'kiwi'}

### update() method

In [55]:
# update()- To add items from another set into the current set, use the update() method.
fruits = {"pineapple", "cherry", "papaya"}
set_ex.update(fruits)
print(set_ex)

{'papaya', 'pineapple', 'apple', 'mango', 'banana', 'pear', 'kiwi', 'cherry'}

### remove(), discard(), pop(), clear() method

In [57]:
# To remove an item in a set, use the remove(), or the discard() method.
# If the item to remove does not exist, remove() will raise an error.
# If the item to remove does not exist, discard() will NOT raise an error.
# pop() - return value of the pop() method is the removed item. Sets are unordered, so when using the pop() method, you do not know which item that gets removed.
# clear() - this method empties the set.

set2 = {"bmw", "audi", "jaguar", "honda", "maruti", "lexus", "toyota", "kia", "hyundai"}

set2.remove("maruti")
print(set2)

{'hyundai', 'kia', 'honda', 'audi', 'bmw', 'toyota', 'lexus', 'jaguar'}

In [59]:
set2.discard("tata")
print(set2)

set2.discard("kia")
print(set2)

{'hyundai', 'kia', 'honda', 'audi', 'bmw', 'toyota', 'lexus', 'jaguar'}
{'hyundai', 'honda', 'audi', 'bmw', 'toyota', 'lexus', 'jaguar'}

In [60]:
set2.pop()
print(set2)

{'honda', 'audi', 'bmw', 'toyota', 'lexus', 'jaguar'}

In [61]:
# in previous run, "hyundai" got deleted.
x = set2.pop()
print(x)
print(set2)

honda
{'audi', 'bmw', 'toyota', 'lexus', 'jaguar'}

In [64]:
set2.clear()
print(set2)
# empties the set
# Also, del keyword deleted the set completely

set()

### union(), update(), intersection_update(), intersection()

In [69]:
set_a = {1,2,3}
set_b = {'A','B','C'}

# union() - returns a new set containing all items from both sets
set_c = set_a.union(set_b)
print(set_c)
print(set_b)

{1, 2, 3, 'A', 'B', 'C'}
{'A', 'B', 'C'}

In [72]:
# update() - method that inserts all the items from one set into another 'randomly'.
set_a.update(set_b)
print(set_a)

{1, 2, 3, 'A', 'B', 'C'}

In [73]:
# Both union() and update() will exclude any duplicate items.

# intersection_update() - this method will keep only the items that are present in both sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)
print(x)

{'apple'}

In [74]:
# intersection() - method will return a new set, that only contains the items that are present in both sets.
u = {"car","bus","truck","bicycle","train","airplane"}
v = {"train","truck"}
w = u.intersection(v)
print(w)

{'truck', 'train'}

## Other Operations and Methods on set

In [75]:
# add() - Adds an element to the set
# clear() - Removes all the elements from the set
# copy() - Returns copy of a set
# difference() - Returns a set containing the difference between two or more sets
# isdisjoint() - Returns whether two sets have a intersection or not
# issubset() - Returns whether another set contains this set or not
# issuperset() - Returns whether this set contains another set or not