# Python Data Structures - 2

This file consists of the other 2 python data structures which are Tuples and Dictionaries. It consists of the methods and operations that can be performed on these data structures.

# 1. Tuples

Tuples are used to store multiple items in a single variable. It is a collection which is ordered and unchangeable. Tuples are written with round brackets ().

They allow duplicate values. 
Items in a tuple have a definite order, and that order will not change.
Tuple items are indexed.

** Tuples are immutable i.e unchangeable. Therefore, we cannot change, add or remove items after the tuple has been created.

In [1]:
mytuple=('apple','banana','cherry','banana','mango','strawberry')
print(mytuple)
print(type(mytuple))

('apple', 'banana', 'cherry', 'banana', 'mango', 'strawberry')
<class 'tuple'>

In [2]:
# len(tuple_name) - prints the number of items in a tuple
print(len(mytuple))

6

### Tuple() Constructor

In [8]:
# It is also possible to use the tuple() constructor to make a tuple.

tuple1 = tuple(('car','bike','train','bus'))
tuple3 = (True,'raman','taman',2,'shyam',89101)
print(type(tuple1))
print(type(tuple3))

<class 'tuple'>
<class 'tuple'>

In [6]:
# To make a tuple with only 1 value in it, we do the following :
tuple2 = ('airways',)
print(type(tuple2))

tuple_ex = ('airways')
print(type(tuple_ex))
# return string...tuple is not formed

<class 'tuple'>
<class 'str'>

### Accessing Tuple Elements

In [10]:
tuple4 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango", "pineapple", "papaya")

# start from 0 as first index position
print(tuple4[2:6])
print(tuple4[:5])
print(tuple4[6:])

# negative indexes
# -1 represents last index
print(tuple4[:-1])
print(tuple4[-6:-1])

('cherry', 'orange', 'kiwi', 'melon')
('apple', 'banana', 'cherry', 'orange', 'kiwi')
('mango', 'pineapple', 'papaya')
('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'pineapple')
('orange', 'kiwi', 'melon', 'mango', 'pineapple')

In [13]:
# Check if item exists
fruit = input("Enter a fruit: ");
if fruit in tuple4:
    print('Present')
else: 
    print('Not present')

Enter a fruit: mango
Present

### Change Tuple Values

To change values in tuple, we have to convert tuple into a list, change the list, and convert the list back to tuple.

In [14]:
# tuple1 = ('car','bike','train','bus')
tempList = list(tuple1)
tempList[2] = 'airways'
tuple1 = tuple(tempList)
print(tuple1)

('car', 'bike', 'airways', 'bus')

In [16]:
# Add items using append() for list by converting a tuple into list and updating the list and converting it back into the tuple.

tempList = list(tuple1)
tempList.append('bicycle')
tuple1 = tuple(tempList)
print(tuple1)

('car', 'bike', 'airways', 'bus', 'bicycle', 'bicycle')

In [17]:
# Add tuple to a tuple
tuple2 += tuple1
print(tuple2)

('airways', 'car', 'bike', 'airways', 'bus', 'bicycle', 'bicycle')

In [18]:
# remove elements through list
tempList = list(tuple1)
tempList.remove('bicycle')
tuple1 = tuple(tempList)
print(tuple1)

('car', 'bike', 'airways', 'bus', 'bicycle')

### Unpacking Tuple

In [21]:
letters = ('a','b','c','d','e','f','g')

# basically destructuring the tuple
(first, second, third, fourth, fifth, sixth, seventh) = letters
print(first)
print(second)
print(third)
print(fourth)
print(fifth)
print(sixth)
print(seventh)

a
b
c
d
e
f
g

In [23]:
# The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.
(val1, val2, val3, val4, *val5) = letters
print(val1)
print(val2)
print(val3)
print(val4)
print(val5)

a
b
c
d
['e', 'f', 'g']

In [24]:
(x1, x2, *x3, x4) = letters
print(x2)
print(x3)
print(x4)

b
['c', 'd', 'e', 'f']
g

### Looping through tuples

In [32]:
# For Loop
# tuple3 = (True,'raman','taman',2,'shyam',89101)
for i in range(len(tuple3)):
    print(tuple3[i], end=" ")

True raman taman 2 shyam 89101

In [35]:
# While Loop
# tuple3 = (True,'raman','taman',2,'shyam',89101)
i = 0
while(i < len(tuple3)):
    print(tuple3[i], end=" ")
    i+=1

True raman taman 2 shyam 89101

### Other Operations on Tuples

In [37]:
# Join two tables
m = (1,2,3,4)
n = ('x','y','z')

l = m + n
print(type(l))
print(l)

<class 'tuple'>
(1, 2, 3, 4, 'x', 'y', 'z')

In [2]:
# Multiply two tables
m = (1,2,3,4)
p = m * 2
print(p)

(1, 2, 3, 4, 1, 2, 3, 4)

In [6]:
# count() - returns the number of times a specified value appears in the tuple.
letters = ('a','b','c','d','e','f','g','b','f','b')
print(letters.count('b'))

3

In [9]:
# index() - Searches the tuple for a specified value and returns the position of where it was found 
# finds the first occurence of the specified value
# raises an exception if the value if not found
print(letters.index('f'))

5

----------

# 2. Dictionary

Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered, changeable and do not allow duplicates.
Dictionary items can be referred using the key name.

Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.
Duplicates are not allowed in dictionaries.

In [12]:
myDict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964,
    "year": 2020
}

print(type(myDict))
print(len(myDict))
print(myDict)
print(myDict["model"])

<class 'dict'>
3
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}
Mustang

### get() method

In [14]:
x = myDict.get("brand")
print(x)

Ford

### keys() method

In [15]:
y = myDict.keys()
print(y)

dict_keys(['brand', 'model', 'year'])

In [16]:
dict1 = { 
    "name": "akash",
    "age": 20,
    "marks": 91,
    "city": "ghaziabad"
}

print(dict1)

# updating the key value
dict1["marks"] = 94
print(dict1)

{'name': 'akash', 'age': 20, 'marks': 91, 'city': 'ghaziabad'}
{'name': 'akash', 'age': 20, 'marks': 94, 'city': 'ghaziabad'}

### update() method

In [17]:
dict1.update({"city":"patiala"})
print(dict1)

{'name': 'akash', 'age': 20, 'marks': 94, 'city': 'patiala'}

In [18]:
# adding an item in dictionary is done by using a new key index and assigning value to it.
# adding can also be done with update() method
dict1["rollno"] = 8
print(dict1)

{'name': 'akash', 'age': 20, 'marks': 94, 'city': 'patiala', 'rollno': 8}

### pop() method

The pop( ) method removes the item with the specified key name

In [24]:
# pop(key_name)
# dict1.pop("rollno")
dict1.update({"hobby":"basketball"})
dict1

{'name': 'akash',
 'age': 20,
 'marks': 94,
 'city': 'patiala',
 'hobby': 'basketball'}

In [25]:
dict1.pop("hobby")
dict1

{'name': 'akash', 'age': 20, 'marks': 94, 'city': 'patiala'}

In [26]:
# popitem() - method removes the last inserted item
dict1.popitem()
dict1

{'name': 'akash', 'age': 20, 'marks': 94}

In [29]:
# del keyword - can delete the dictionary completely
del dict1
# print(dict1) -> gives an error because we have deleted the table
# clear() - also empties the dictionary

### Looping in Dictionaries

When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

In [31]:
dict1 = { 
    "busNo": 23,
    "name": "punjab roadways",
    "from": "chandigarh",
    "to": "nainital"
}

In [32]:
# Printing all key names in the dictionary, one by one
for i in dict1: 
    print(i)

busNo
name
from
to

In [33]:
# Printing all values in dictionary
for x in dict1:
    print(dict1[x])

23
punjab roadways
chandigarh
nainital

In [34]:
# we can also use values() method to return values of a dictionary
for x in dict1.values():
    print(x)

23
punjab roadways
chandigarh
nainital

In [35]:
# use the keys() method to return the keys of a dictionary
for x in dict1.keys():
    print(x)

busNo
name
from
to

### items() method in Loops

In [38]:
# Loop through both keys and values, by using the items() method
for x,y in dict1.items():
    print(x, y)

busNo 23
name punjab roadways
from chandigarh
to nainital

### copy() method

In [39]:
dict2 = dict1.copy()
print(dict2)

{'busNo': 23, 'name': 'punjab roadways', 'from': 'chandigarh', 'to': 'nainital'}

In [42]:
# dictionary can also be copied using dict() function
dict3 = dict(dict1)
dict3

{'busNo': 23,
 'name': 'punjab roadways',
 'from': 'chandigarh',
 'to': 'nainital'}

## Nested Dictionaries

A dictionary can contain dictionaries, this is called nested dictionaries.

In [44]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(type(myfamily))
print(myfamily)

<class 'dict'>
{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [45]:
# example2
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}