# Python Data Structures - 2

This file consists of the other 2 python data structures which are Tuples and Dictionaries. It consists of the methods and operations that can be performed on these data structures.

# 1. Tuples

Tuples are used to store multiple items in a single variable. It is a collection which is ordered and unchangeable. Tuples are written with round brackets ().

They allow duplicate values. 
Items in a tuple have a definite order, and that order will not change.
Tuple items are indexed.

** Tuples are immutable i.e unchangeable. Therefore, we cannot change, add or remove items after the tuple has been created.

In [1]:
mytuple=('apple','banana','cherry','banana','mango','strawberry')
print(mytuple)
print(type(mytuple))

('apple', 'banana', 'cherry', 'banana', 'mango', 'strawberry')
<class 'tuple'>

In [2]:
# len(tuple_name) - prints the number of items in a tuple
print(len(mytuple))

6

### Tuple() Constructor

In [8]:
# It is also possible to use the tuple() constructor to make a tuple.

tuple1 = tuple(('car','bike','train','bus'))
tuple3 = (True,'raman','taman',2,'shyam',89101)
print(type(tuple1))
print(type(tuple3))

<class 'tuple'>
<class 'tuple'>

In [6]:
# To make a tuple with only 1 value in it, we do the following :
tuple2 = ('airways',)
print(type(tuple2))

tuple_ex = ('airways')
print(type(tuple_ex))
# return string...tuple is not formed

<class 'tuple'>
<class 'str'>

### Accessing Tuple Elements

In [10]:
tuple4 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango", "pineapple", "papaya")

# start from 0 as first index position
print(tuple4[2:6])
print(tuple4[:5])
print(tuple4[6:])

# negative indexes
# -1 represents last index
print(tuple4[:-1])
print(tuple4[-6:-1])

('cherry', 'orange', 'kiwi', 'melon')
('apple', 'banana', 'cherry', 'orange', 'kiwi')
('mango', 'pineapple', 'papaya')
('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'pineapple')
('orange', 'kiwi', 'melon', 'mango', 'pineapple')

In [13]:
# Check if item exists
fruit = input("Enter a fruit: ");
if fruit in tuple4:
    print('Present')
else: 
    print('Not present')

Enter a fruit: mango
Present

### Change Tuple Values

To change values in tuple, we have to convert tuple into a list, change the list, and convert the list back to tuple.

In [14]:
# tuple1 = ('car','bike','train','bus')
tempList = list(tuple1)
tempList[2] = 'airways'
tuple1 = tuple(tempList)
print(tuple1)

('car', 'bike', 'airways', 'bus')

In [16]:
# Add items using append() for list by converting a tuple into list and updating the list and converting it back into the tuple.

tempList = list(tuple1)
tempList.append('bicycle')
tuple1 = tuple(tempList)
print(tuple1)

('car', 'bike', 'airways', 'bus', 'bicycle', 'bicycle')

In [17]:
# Add tuple to a tuple
tuple2 += tuple1
print(tuple2)

('airways', 'car', 'bike', 'airways', 'bus', 'bicycle', 'bicycle')

In [18]:
# remove elements through list
tempList = list(tuple1)
tempList.remove('bicycle')
tuple1 = tuple(tempList)
print(tuple1)

('car', 'bike', 'airways', 'bus', 'bicycle')

### Unpacking Tuple

In [21]:
letters = ('a','b','c','d','e','f','g')

# basically destructuring the tuple
(first, second, third, fourth, fifth, sixth, seventh) = letters
print(first)
print(second)
print(third)
print(fourth)
print(fifth)
print(sixth)
print(seventh)

a
b
c
d
e
f
g

In [23]:
# The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.
(val1, val2, val3, val4, *val5) = letters
print(val1)
print(val2)
print(val3)
print(val4)
print(val5)

a
b
c
d
['e', 'f', 'g']

In [24]:
(x1, x2, *x3, x4) = letters
print(x2)
print(x3)
print(x4)

b
['c', 'd', 'e', 'f']
g

### Looping through tuples

In [32]:
# For Loop
# tuple3 = (True,'raman','taman',2,'shyam',89101)
for i in range(len(tuple3)):
    print(tuple3[i], end=" ")

True raman taman 2 shyam 89101

In [35]:
# While Loop
# tuple3 = (True,'raman','taman',2,'shyam',89101)
i = 0
while(i < len(tuple3)):
    print(tuple3[i], end=" ")
    i+=1

True raman taman 2 shyam 89101

### Other Operations on Tuples

In [37]:
# 
m = (1,2,3,4)
n = ('x','y','z')

l = m + n
print(type(l))
print(l)

<class 'tuple'>
(1, 2, 3, 4, 'x', 'y', 'z')