In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=['Column1','Column2','Column3','Column4'])

In [4]:
df.head()

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [6]:
df.loc['Row1']

Column1    0
Column2    1
Column3    2
Column4    3
Name: Row1, dtype: int64

In [7]:
# converting this dataframe into csv
df.to_csv('Tutorial1.csv')

### Accessing the Elements

1. .loc[] - focusing only on row indexes
2. .iloc[] - focusing on row and column indexes

In [9]:
print(type(df.loc['Row3']))
print(df.loc['Row3'])

<class 'pandas.core.series.Series'>
Column1     8
Column2     9
Column3    10
Column4    11
Name: Row3, dtype: int64

In [12]:
df.iloc[:,:]

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [14]:
df.iloc[:,2:]

      Column3  Column4
Row1        2        3
Row2        6        7
Row3       10       11
Row4       14       15
Row5       18       19

In [17]:
print(df.iloc[0:2,0:3])
type(df.iloc[0:2,0:3])

      Column1  Column2  Column3
Row1        0        1        2
Row2        4        5        6

pandas.core.frame.DataFrame